{% load static %}
<!doctype html>
<html lang="en">
  <head>
      <title>I'm Nadeem | Cloud Solutions Architect | Technical Consultant | Programmer | Web & Graphics designer | Technical Trainer</title>

      <meta property="og:title" content="I'm Nadeem | Cloud Solution Architect | Technical Consultant | Programmer | Web & Graphics designer | Technical Trainer"/>
      <meta property="og:site_name" content="I'm Nadeem"/>
      <meta property="og:description" content="AWS Certified Solutions Architect"/>
      <meta property="og:url" content="www.nad.pw"/>
      <meta itemprop="description" content="Cloud Solutions Architect / Presales / Technology Consultant / Networking Professional / AWS Professional / Microsoft Professional / Web Designer / Graphics Designer / Technical Trainer"/>
      <meta property="og:image" content="https://s3.amazonaws.com/nadpw-images/linkimg.png"/>
      <meta property="og:locale" content="en_AE"/>
      <meta name="description" content="This is my career site and has details on my professional experience, installation videos and technical labs"/>
      <meta property="og:type" content="My Career website hosted on Amazon Web Services Cloud"/>
      <meta name="keywords" content="Syed, Nadeem, Ahmed, Engineer, AWS, Cloud, Architect, IT Specialist, Dubai, UAE, Azure, Microsoft, Server less, Python, Apache, Django, EC2, VPC, Route53, Cloudfront, Lambda, MCSE, CCNA, TSS, S3 Bucket, Cloud9, Certified, Pycharm, Anaconda, Putty, Computing, Code, Infrastructure, Windows, Linux, REST, API, Google, Cloud Formation, SQL, Networking, AMI, VM"/>


      <!--SCRIPTS START-->

      <!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://nadpw.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/nadpw.matomo.cloud/piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132320721-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132320721-1');
</script>

      <!--LINKS START-->

      <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
      <link rel="stylesheet" href="{%static 'style.css' %}">
      <link rel="stylesheet" href="{%static 'buttons.css' %}">


    <!-- Required meta tags -->
      <link rel="icon" href="{%static 'images/favicon.png' %}" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



  </head>

      <body>

    <nav class="navbar fixed-top navbar navbar-expand-lg navbar-light" style="background-color: #99bbff;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <div class="container-fluid">
            <div class="row">
                <div class="col">

                    <div class="navbar-nav">


                        <li class="nav-item active">
                            <a class="nav-link" href="{%url 'home' %}"><button class="btn btn-sm btn-outline-dark" type="button">H o m e</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'videos' %}"><button class="btn btn-sm btn-outline-dark" type="button">V i d e o s</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'lab' %}"><button class="btn btn-sm btn-outline-dark" type="button">T h e&nbsp;&nbsp;&nbsp;L a b</button></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"><button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#myModal">C o n t a c t</button></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://s3.amazonaws.com/nadpw-docs/SNA-Resume.pdf"><button class="btn btn-sm btn-danger" type="button">D o w n l o a d&nbsp;&nbsp;&nbsp;R e s u m e</button></a>
                        </li>
                        <span style="display:inline-block; width:25%"></span>
                        <li class="nav-item">
                        <a class="navbar-brand" href="http://www.linkedin.com/in/nadtin" target="_blank"> <img src="{%static 'images/nadpw.png' %}" height="40" align="float-right"></a>
                        </li>
                    </div>

                </div>


            </div>
        </div>


</nav>



<!-- Contact Modal Start -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Contact Info</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">
        <div class="container">
            Phone: +91 96068 48567
        </div>

        <div class="container">
            Email: <a href="mailto:nadtin@gmail.com?Subject=Hello%20Nadeem!" target="_top">nadtin@gmail.com</a>
        </div>
          <div class="container">
            City: Bengaluru
        </div>
          <div class="container">
            Country: India
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Contact Modal End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>


{% block content %}
{% endblock %}

<br><br>

<body>


<div class="container-fluid" style="background-color: #000000; font-family:'Arial';">
    <br>
   <p class="text-center"><font size="2" color="white">© 2019 Syed Nadeem Ahmed. All rights reserved.</font></p>
<br>
</div>




  </body>
</html>